{% extends "bootstrap_base.html" %}

{% block custom_css %}
	<link href="/static/css/about.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div  class="container">
	<header class="jumbotron masthead">
		<h1>TechQuiz<h1>
		<p>Play and Learn</p>
		<a href="/category" class="btn btn-primary btn-large">Take the quiz</a>
		<a href="https://github.com/ivobos/techquiz/" class="btn btn-large">View project on GitHub</a>
	</header>
	<hr class="soften">
	<div class="marketing">
		<h1>Collaboratively built and maintained technology quiz.</h1>
		<p class="marketing-byline">Sharpen your technology trivia knowledge.</p>
		<div class="row">
			<div class="span4">
				TechQuiz is a free-content quiz project based on openly editable model. Question answers provide links to guide the user to pages with additional information.
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
