{% extends "bootstrap_base.html" %}
{% load humanize %}

{% block content %}
<div  class="container">
	<ul class="thumbnails">
  		<li class="span3">
    		<a href="#" class="thumbnail">
      		<img src="http://upload.wikimedia.org/wikipedia/en/thumb/3/39/Java_logo.svg/200px-Java_logo.svg.png" alt="">
    		</a>
    		<h5>Java Quiz</h5>
      		<p>Java Programming Language Trivia</p>
  		</li>
  		<li class="span3">
    		<a href="#" class="thumbnail">
      		<img src="http://upload.wikimedia.org/wikipedia/commons/5/54/The_C_Programming_Language_1st_edition_cover.jpg" alt="">
    		</a>
    		<h5>C Quiz</h5>
      		<p>C Programming Language Trivia</p>
  		</li>
  		<li class="span3">
    		<a href="#" class="thumbnail">
      		<img src="http://upload.wikimedia.org/wikipedia/en/9/91/C_plus_plus_book.jpg" alt="">
    		</a>
    		<h5>C++ Quiz</h5>
      		<p>C++ Programming Language Trivia</p>
  		</li>  		
  		<li class="span3">
    		<a href="#" class="thumbnail">
      		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/200px-Tux.svg.png" alt="">
    		</a>
    		<h5>Linux</h5>
      		<p>General Linux Operating System Trivia</p>
  		</li>  		
  		<li class="span3">
    		<a href="#" class="thumbnail">
      		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Internet_map_1024.jpg/240px-Internet_map_1024.jpg" alt="">
    		</a>
    		<h5>Networking</h5>
      		<p>Networking Protocols Knowledge</p>
  		</li>  		
	</ul>
</div>
{% endblock %}

{% block custom_javascript %}
{% endblock %}
