{% extends "bootstrap_base.html" %}
{% load humanize %}

{% block content %}
<div  class="container">
  	<div class="btn-group pull-right">
  		<a class="btn" href="/new">New</a>
  		{% if qid %}
  			<a class="btn" href="/edit?qid={{ qid }}">Edit</a>
	  		<a class="btn" href="/delete?qid={{ qid }}">Delete</button>
	  	{% else %}
  			<a class="btn disabled">Edit</a>
	  		<a class="btn disabled">Delete</button>	  		
  		{% endif %}
  		{% if prevqid %}
  			<a class="btn" href="/{{ prevqid }}">Previous</a>
  		{% else %}
  			<a class="btn disabled"">Previous</a>
  		{% endif %}
  		{% if nextqid %}
  			<a class="btn" href="/{{ nextqid }}">Next</a>
  		{% else %}
  			<a class="btn disabled">Next</a>
  		{% endif %}
  	</div>
  	{% if question %}
	 	<h2>Question {{ question.id }}</h2>
		<div class="hero-unit">
		  	<p>{{ question.stem }}</p>
		  	<br>
		  	<p>
		    	<a class="btn">
		      		{{ question.key }}
		    	</a>
		    </p>
		  	{% for distractor in question.distractors %}
			  	<p>
			    	<a class="btn">
			      		{{ distractor }}
			    	</a>
			    </p>
			{% endfor %}
		</div>
	{% else %}
		<div class="alert">
	  		<strong>Warning!</strong> Question {{ qid }} does not exist.
		</div>		
	{% endif %}
</div>
{% endblock %}

